{% extends 'base.html' %}

{% block hero_unit %}
<section class="hero-unit" style="background-image: url({{ url_for('static', filename='img/resume.jpg') }});">
  <div class="overlay"></div>
  <div class="inner">
    <h1>Resumé</h1>
  </div>
</section>
{% endblock hero_unit %}

{% block content %}
<h2 class="text-center">STEPHAN MEYER ZUM ALTEN BORGLOH, Ph.D</h2>




<p><strong><center>1161 York Avenue, Apt 1i, New York, NY 10065 - Phone: 917-822-9392 E-mail: <a href="mailto:Stephan.Meyerzab@gmail.com">Stephan.Meyerzab@gmail.com</a></center></strong></p>
<ul>
<li>Systems Neuroscience PhD with extensive programming experience (over 10 years using Matlab and Python) and 13 years of science expertise spanning a diverse range of disciplines including Computational Neuroscience, Physiology, Molecular Biology, Microbiology, Biotechnology, and Physics.</li>
<li>Generated, maintained, and analyzed large data sets using methods including data segmentation, spatial and temporal correlations, variance analysis, principal component analysis, frequency and time domain analysis; created custom algorithms optimized for performance and speed.</li>
<li>Distilled large datasets to key points and visualized key contents and trends to experts and laymen.</li>
<li>Internationally recognized scientist published in <em>Nature</em> and other prestigious journals, trained by top tier scientists in several countries. Currently working on deciphering higher brain functions in rodents and primates.</li>
<li>Managed, mentored, taught and supervised over 10 full-time junior scientists and technicians.</li>
<li>Collaborated with and consulted several other junior and senior research groups in technological questions.</li>
</ul>
<p><strong>RELEVANT DATA EXPERIENCE (2005-present at the Max Planck Society, Germany &amp; The Rockefeller University, USA):</strong></p>
<ul>
<li>
<p>Assessed experimental subject performance data using statistical distributions <em>(Paired Sample t-test, Mann Whitney U or Kolmogorov-Smirnov test)</em> of large data set extending into 100k data points. Algorithms are optimized for speed and efficient memory usage.</p>
</li>
<li>
<p>Segmented and tracked camera data of experimental subjects in real time using computer vision <em>(Background Subtraction, SURF feature extraction,</em> <em>Trained Classifiers, Feature Description and Matching</em><em>).</em></p>
</li>
<li>
<p>Noise-reduced <em>(Gaussian Filtering, Outlier Exclusion Averaging)</em> 3D microscopy data and automatically extracted spatial structures <em>(Adaptive Thresholding, 2D Cross Correlation, K-Means Clustering, Watershed Segmentation, Regional/H-maxima Transformation and Principal Component analysis)</em>.</p>
</li>
<li>
<p>Correlated data and extracted activity patterns <em>(Template Matching)</em> of thousands of brain cells with data sets up to Gigabyte size <strong>.</strong></p>
</li>
<li>
<p>Analyzed high speed and low signal-to-noise neuronal 16-bit imaging data <em>(custom Motion Correction, Noise Reduction, Segmentation and Signal Extraction algorithms)</em> sized in Gigabyte range.</p>
</li>
</ul>
<p><strong>RELEVANT SOFTWARE DEVELOPMENT EXPERIENCE (2005-present at the Max Planck Society, Germany &amp; The Rockefeller University, USA):</strong></p>
<ul>
<li>
<p>Developed event-adaptive training software solutions using a touch screen interface, camera system tracking, stimulus presentation and data acquisition in real time.</p>
</li>
<li>
<p>Developed fully automated behavioral assay chambers to automatically train multiple animals simultaneously. The system contains GUIs, hardware/microcontroller interfacing, RFID identification and motion tracking.</p>
</li>
<li>
<p>Developed Image analysis packages to analyze low signal-to-noise imaging data using own motion correction, noise reduction, segmentation and signal extraction algorithms for 16-bit image series.</p>
</li>
<li>
<p>Developed Navigational software for control, tracking and visual position mapping of a motorized microscope stage using hardware interfacing and GUIs.</p>
</li>
</ul>
<p><strong>PROGRAMMING LANGUAGE SKILLS:</strong></p>
<ul>
<li>
<p>As a Python developer I have experience and regularly use numeric libraries (NumPy, matplotlib, Plotly), image manipulation libraries (CV2, Pillow), databases (MongoDB, SQLite/ORMs(SQLAlchemy)), data frames (Pandas), AWS (boto), GUI development (Tkinter), Web development (Flask, CSS, bootstrap), iPython Notebooks, unit testing frameworks (unittest, nose), web scraping (requests), Machine Learning (Scikit-learn), logging and other (pygame,libtcodpy, …) as well as my own.</p>
</li>
<li>
<p>As a developer in general I routinely use version control (Git/Github), object oriented programming where appropriate, clean coding, logging and extendibility. For some projects I am leading developing teams from different disciplines and also enjoy open source collaborations.</p>
</li>
</ul>
<p><strong>GENERAL SKILLS &amp; LEADERSHIP:</strong></p>
<ul>
<li>
<p>Broad range of competencies spanning data acquisition and analysis, software engineering, mechanical engineering, materials science, biotechnology, surgery, sensory systems, <em>in vivo</em> recording techniques and animal behavior.</p>
</li>
<li>
<p>Over 10 years of Programming Experience, including Matlab, Python,  C++ and Java.</p>
</li>
<li>
<p>Over 15 years experience in managing difficult technical projects and leading interdisciplinary and international research teams.</p>
</li>
<li>
<p>Raised over $800k in research grants.</p>
</li>
<li>
<p>Experienced in condensing and  presenting data, writing scientific papers, grants and layman articles.</p>
</li>
<li>
<p>Published international scientist trained by world-renowned pioneers in neuroscience and applied physics.</p>
</li>
</ul>
<p><strong>EDUCATION:</strong></p>
<ul>
<li>Ph.D. in Neuroscience, 2008 - Max-Planck Institute for Medical Research &amp; University of Heidelberg - Germany</li>
<li><a href="http://B.Sc">B.Sc</a>. with Honors, Medical Microbiology, 2003 - Leeds University, UK &amp; Townsville University, Australia</li>
</ul>
{% endblock content %}